
#Home{
    display: flex;
    background:  linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0, 0.7)) , url('../../../public/imagen/fondoHome.webp') no-repeat;
    // background:  linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0, 0.2),rgba(0,0,0, 0.2)) , url('../../../public/imagen/tech.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: img-move 30s linear infinite alternate;
    cursor: default;
    height: 70vh;
    position: relative;
    justify-content: center;
    filter: $filter-dark;
    border-bottom: 1px solid rgb(0, 0, 0);
    // border-bottom-left-radius: 50%;
    // border-bottom-right-radius: 50%;
   
}

@keyframes img-move {
     from{
         background-position: bottom left;
     }to{
         background-position: top right;
     }
}
.containerHome{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: inherit;
    // backdrop-filter: blur(5px);
    .texto {
        // margin: auto;
        text-align: center;
        font-size: large ;
        position: relative;
        h1{
            font-size:40px;
            font-family: $font-gral;
            position: relative;
            &:nth-of-type(2){
                color: $color-ppal;
                color: rgba(212, 52, 252, 0.8);
                font-size:32px;
    
            }
            
        }
       
        .guion{
            animation: guion ease-in-out 0.8s infinite;
        }
        .contacto-icons-home{
           margin-top: 20px;
           display: flex;
           justify-content: center;
           position: absolute;
           width: 100%;
           gap: 20px;
           .contacto-icons-home_a{
                // margin: 0 20px;
                width: 40px;
                height: 40px;
                cursor: pointer;
                @include mixinsfunc.flex-box;
                border-radius: 50%;
                // box-shadow: 0 0 10px $color-lineas;
                text-decoration: none;
                background-color: $color_dark ;
                z-index: 555;
            }
        }
    }
    
    
}


.img-texto{
    @include mixinsfunc.flex-box(none);
    margin: 0;

}
@keyframes guion {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.borde{
    display: flex;
    width: 300px;
    height: 2px;
    margin:auto;
    color: $color-lineas;
    border-radius: 50%;

    &.left{
        background: linear-gradient(to left, $color-lineas, transparent);
        justify-content: end;
    }
    &.right{

        background: linear-gradient(to right, $color-lineas, transparent);
    }
}
